<div class="card mt-4">
	<div class="card-header">
		<div class="card-menu">
			<div class="card-title">
				<div class="cat">
					<h4>{{title}}</h4>
					<a href="/categorias/add">
						<button type="button" class="btn btn-success">Nova categoria</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
			<div>
				<table class="table responsible">
					<thead>
						<tr>
							<th>#</th>
							<th>Categoria</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{{#each categorias}}
							<tr>
								<td>{{cat_id}}</td>
								<td>{{cat_nome}}</td>
								<td>
								    <a href="/categorias/edit/{{cat_id}}"><button type="button" class="btn btn-success">Editar</button></a>
									<a href="/categorias/delete/{{cat_id}}"><button type="button" class="btn btn-danger">Deletar</button></a>
								</td>
							</tr>
						{{else}}
							<h4>Nenhuma categoria cadastrada</h4>
						{{/each}}	
					</tbody>
				</table>				
			</div>
	</div>
</div>