    <div class="card mt-1">
        <div class="card-header">
            <div class="card-title">
                {{#each categoria}}
                    <h5>Código: {{cat_id}}</h5>
                    <h3>Categoria: {{cat_nome}}</h3>
                    <p>Data: {{createdAt}}</p>
                    <small>Produtos relacionados a categoria citada</small>
                {{/each}}
            </div>            
        </div>
        <div class="body ml-2 mt-1">
            <table class="table responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>        
                </thead>
{{#each produtos}}
                <tbody>
                    <tr>
                        <td>{{prod_id}}</td>
                        <td>{{prod_nome}}</td>
                        <td>R$: {{prod_valor}},00</td>
                    </tr>
                </tbody>
{{else}}
            </table>           
        </div>

    </div>


    <div class="card mt-1">
        <div class="card-header">
            <div class="card-title">
                <h4>Nenhum produto relacionado a esta categoria!</h4>
            </div>
        </div>
    </div>   
{{/each}}